#robot{
  width:300px;
  height:300px;
  margin:50px auto;
  position:relative;
}
#tete{
  border-radius: 65px 65px 0 0;
  width: 130px;
  height:65px;
  margin:0 auto;
  background-color: yellowgreen;
}
#od,#og{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 29px;
  border-radius: 50%;
  background: rgb(238, 250, 214);
}
#od{
  left: 38%;
}
#og{
  left: 58%;
}
#main{
  border-radius: 0 0 15px 15px;
  width: 130px;
  height: 112px;
  margin: 4px auto;
  background-color: yellowgreen;
  position: relative;
}
#mg,#md,#pg,#pd{
  width: 30px;
  height: 90px;
  border-radius: 30px;
  background-color: yellowgreen;
  position: absolute;
  top:-3px;
}
#mg{
  left: -37px;
}
#md{
  right: -36px;
}
#pg{
  top:61%;
  left: 100px;
}
#pd{
  top:61%;
  right: 100px;
}
#pd.hover{
  transform: rotate(20deg);
}
#tete:hover {
  transform: rotate(-5deg);
}

#pg:hover {
  transform: rotate(15deg) ;
}

#pd:hover {
  transform: rotate(-30deg) ;
}
