body{
    margin: 3px;
     background:  radial-gradient(circle, rgb(184, 180, 240), white); 
}
header{
    padding: 10px;
    border: 1px solid rgb(10, 10, 10);
    margin-top: 10px;
}
p{
    text-align: left; 
    border-radius: 10px; 
}
li{
    list-style: none;
    display: inline-block;
}
.text{
    border:1px dashed maroon;
}
.actif{
    color: rgb(77, 3, 83);
}
title{
    border: 1px dashed black;
}
#module{
    border-radius: 5px 20px 5px;
    background: rgb(221, 228, 198);
    width: 90px;
    margin: 8px;
    float: none;
    border-image-slice: 20;
    border-image-source: url(border.png);
  border-image-slice: 20;
  box-shadow: #111111;
  border-radius: 10px;
  
  }
#images{
    width: 300px;
    margin: 0px;
    float: none;
    border-image-slice: 20;
    border-image-source: url(border.png);
  
}
footer{
    text-align: center;
    background-color: rgb(95, 8, 91);
}

nav > a{
    font-size: 20px;
    font-weight: bold;
    color: antiquewhite;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
  td, th {
    border: 1px solid #111111;
    text-align: left;
    padding: 1px;
}
  
tr:nth-child(even) {
    background-color: #d3c5e0da;
}
li, ol{

}