body{
    margin: 0px;
}
header{
    background-color: rgb(41, 160, 61);
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#logo{
    margin: 0px;
    width: 200px;

}

#title{
    text-align: center;
}
#IDSD{
    padding: 10px;
    text-align: right;
}
#container{
    display: flex;
    margin: 20px;
    justify-content: space-around;
 
}
#side{
    width: 20vw;
    padding: 5px;
    overflow: auto;
    height: 70vh;
    border-style: groove;

}
#content{
    width: 70%;
    height: 70vh;
    overflow: auto;
    border: groove;
    padding: 5px;

}

footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    text-align: center;
    background-color:  rgb(41, 160, 61);
}
#side div{
    
    display: flex;
    border: 1px solid white;
    font-family: 'Times New Roman', Times, serif;
    padding: 1px;
    background:  rgb(66, 224, 150) ;
}