body{
    margin: 0px;
}
header{

    background-color: rgb(41, 160, 61);
    
}
#main{
    display: flex;
    justify-content: space-between;
}

h1{
    text-align: center;
    
}
h3{
    text-align: right;
}
#container{
    display: flex;
    margin: 20px;
    justify-content: space-around;
 
}
#side{
    width: 20vw;
    padding: 5px;
    overflow: auto;
    height: 70vh;
    border-style: groove;
}
#content{
    width: 70%;
    height: 70vh;
    overflow: auto;
    margin: 0px;
    border: groove;

}

footer{
    text-align: center;
    background-color:  rgb(41, 160, 61);
}
#side div{
    
    background:  rgb(58, 184, 79) ;
    background-clip: padding-box;
}