body{
    margin: 0px;
}
header{
    background-color: rgb(41, 160, 61);
    
}
#logo{
    width: 200px;
    margin: 0;
}
#main{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

h1{
    text-align: center;
}
p{
    padding-top: 10px;
    text-align: right;
}
#container{
    display: flex;
    margin: 20px;
    justify-content: space-around;
 
}
#side{
    width: 20vw;
    padding: 5px;
    overflow: auto;
    height: 70vh;
    border-style: groove;

}
#content{
    width: 70%;
    height: 70vh;
    overflow: auto;
    margin: 0px;
    border: groove;

}

footer{
    text-align: center;
    background-color:  rgb(41, 160, 61);
}
#side div{
    display: flex;
    border: 1px solid white;
    font-family: 'Times New Roman', Times, serif;
    padding: 1px;
    background:  rgb(66, 224, 150) ;
}